<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack</title>

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #282C34;
        }
        Canvas {
            border: 1px solid white;
            color: green;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(10, 1fr);
            
        }
    </style>

</head>
<body>
    <canvas id="gameCanvas" width="550" height="550"></canvas>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>