<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>
    <img src="../static/images/background.png" alt="bg" class="background-image">
    
    <div class="score-card">
        SCORE: &nbsp;<span class="score">0</span> &emsp;
        HIGH SCORE: &nbsp;<span class="score">0</span>
    </div>

    <div id="start-screen">
        <p class="title">SNACK</p>
        <button id="play-button">PLAY</button>
    </div>

    <div id="char-screen" hidden>
        <h2>Choose your character</h2>

        <button class="character" data-character="shinobu">
            Shinobu
        </button>
        <button class="character" data-character="yotsugi">
            Yotsugi
        </button>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>